/*
COLORS
2C3639
3F4E4F
A27B5C
DCD7C9
E84545
//F71F1F (lepszy)
*/

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
    font-family: "Poppins";
}

footer {
    user-select: text;
}

html {
    font-size: 2px;
}

hr {
    width: 100%;
    margin: 20px 0;
    background-color: grey;
    height: 3px;
    border: none;
}

article {
    width: 1400px;
}

p {
    margin: 20px;
}

header {
    background-color: #222222;
    position: sticky;
    top: 0;
}

main {
    background-color: #2a2a2a;
}

footer {
    background-color: #222222;
}

/*NAVIGATION*/
nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    background-color: #C52F21;
    color: white;
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 15px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #EF1601;
}
/*----------*/

#myimg {
    background-color: #C52F21;
    border-radius: 25%;
    width: clamp(200px, 25vw, 300px);
    height: clamp(200px, 25vw, 300px);
    padding: 20px;
    box-sizing: border-box;
}


.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.grid-container {
    display: grid;
}

#skill {
    height: 250px;
}

#skill div {
    margin: 20px;
    background-color: #F00901;
    width: clamp(100px, 14vw, 200px);
    height: clamp(100px, 14vw, 200px);
    border-radius: 25%;

    transition: all ease-in-out 0.2s;
}

#skill div:hover {
    transform: scale(1.1);
    transition: transform ease-in-out 0.2s;
}


#skill div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: clamp(85px, 10vw, 160px);
}

.cardEXP {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-sizing: border-box;

    overflow: hidden;
    border-radius: 25px;
    margin: 2%;

    overflow: hidden;
    text-overflow: ellipsis;
}

.card-imgEXP {
    background-color: #222222;
    width: 40%;
}

#exp {
    max-width: 1800px;
    padding: 3%;
    box-sizing: border-box;
    height: fit-content;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 2.5%;
}

.exp-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-sizing: border-box;
}

#exp div {
    background-color: #F00901;
    border-radius: 20px;
    padding: 8px;
    box-sizing: border-box;
}

p {
    color: white;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.2rem;
}

h1, h2 {
    font-family: "Cinzel Decorative";
    color: white;
}

h3,h2 {
    font-family: "Merienda";
    color: white;
    font-size: 2rem;
    margin: 20px;
}

h1 {
    font-size: 3rem;
    letter-spacing: 10px;
}

h2 {
    font-size: 2.5rem;
}

#projects {
    max-width: 1600px;
    align-items: stretch;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    box-sizing: border-box;
    flex: 0 0 calc(100% / 3 - 4%);

    overflow: hidden;
    border-radius: 25px;
    margin: 2%;
}

.card-img {
    background-color: #222222;
    height: 300px;
}

.card-body {
    background-color: #C52F21;
    flex: 1;
    padding: 20px 20px 1px 20px;
}

.card-body h3 {
    margin: 0;
}

footer {
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

footer .flex-container {
    width: 100%;
    max-width: 1600px;
    gap: 20px;
    display: flex;
    align-items: stretch;
}

.flex-item {
    color: white;
    flex: 0 0 calc((100% - 40px) / 3);
    background-color: rgb(128,0,0);
    font-size: 2rem;
    box-sizing: border-box;
}

.flex-item:last-child {
    flex-basis: 100%;
}

.footer-list {
    list-style-type: none;
    font-size: 1.2rem;
    display: inline-block;
}

#learn-more {
    display: flex;
    justify-content: center;
}

#learn-more a {
    background-color:#222222;
    padding: 12px;
    text-decoration: none;
    color: white;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
}



@media only screen and (min-width: 1024px) {
    html {
        font-size: 16px;
    }

    .card {
        flex: 0 0 calc(100% / 2 - 4%);
    }
}


@media only screen and (min-width: 1440px) {
    .card {
        flex: 0 0 calc(100% / 3 - 4%);
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 12px;
    }

    .card {
        flex: 0 0 calc(100% / 2 - 4%);
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }
    /*ZROBIĆ TAK ŻE JEDEN PROJEKT ZAJMUJE 100% SZEROKOŚCI
    ZA TO PRAKTYKI TO PRZEROBIĆ KARTY ŻE NAJPIERW ZDJĘCIE / OPIS A POTEM RESZTA
    NAPRAWIĆ STOPKĘ BO WYGLĄDA OKROPNIE
    */
    #skill {
        flex-wrap: wrap;
        height: fit-content;
    }

    .cardEXP {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        box-sizing: border-box;
    
        overflow: hidden;
        border-radius: 25px;
        margin: 2%;
    }
    
    .card-imgEXP {
        background-color: #222222;
        width: 100%;
    }

    header {
        display: none;
    }

    footer .flex-container {
        flex-direction: column;
    }

    .flex-item {
        flex: 1;
        padding-bottom: 16px;
    }

    .card {
        max-width: 90%;
    }

    #projects {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 425px) {
    .cardEXP {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        box-sizing: border-box;
    
        overflow: hidden;
        border-radius: 25px;
        margin: 2%;
    }
    
    .card-imgEXP {
        background-color: #222222;
        width: 100%;
    }

    .card {
        margin-bottom: 25px;
    }

    html {
        font-size: 8px;
    }
}
